* {
    background-color: #FFE5E7;
    color: #F26B8A;
    font-family: Quicksand;
    margin: 10px;
}

/* Banner */
h1 {
    font-size: 65px;
    padding-top: 30px;
}

.wave-text span {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}

.wave-text span:nth-child(5) {
    animation-delay: 0.8s;
}

.wave-text span:nth-child(6) {
    animation-delay: 1.0s;
}

.wave-text span:nth-child(7) {
    animation-delay: 1.2s;
}

.wave-text span:nth-child(8) {
    animation-delay: 1.4s;
}

.wave-text span:nth-child(9) {
    animation-delay: 1.6s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Intro */
h2 {
    font-size: 27px;
}

h3 {
    font-size: 22px;
}

.spacing {
    margin-bottom: 15px;
}

/* Table */
table {
    margin-bottom: 40px;
}

table, th, td {
  border: 1px solid #9E4244;
  border-collapse: collapse;
}

th {
  text-align: left;
  color: #FDEEF6;
  background-color: #FC94AF;
}

th, td {
    padding: 10px;
}

.property {
    font-weight: 700;
    text-decoration: underline;
}

.property:hover {
    text-decoration: none;
    cursor: pointer;
}

tr:hover td {
    background-color: white;
}

#property-heading {
    padding-right: 25px;
}

/* Examples */
h4 {
    font-size: 20px;
}

.code {
    font-family: 'IBM Plex Mono', Courier, monospace;
    font-size: 15px;
    color: #9E4244;
    text-align: left;
}

.code-block {
    padding: 10px 30px;
    display: grid;
    place-items: center;
}

.container {
    background-color: white;
    padding: 20px 40px;
    border-radius: 15px;
    width: 50%;
}

.bottom-ex {
    margin-bottom: 60px;
}

/* Example Squares */
.dimensions {
    width: 80px;
    height: 80px;
    display: inline-block;
}

.square-green {
    background-color: aquamarine;
}

.square-pink {
    background-color: pink;
}

.square-blue {
    background-color: lightblue;
}

.relative {
    position: relative;
    left: 50px;
    top: 20px;
}

/* General */
p {
    font-size: 18px;
    padding: 10px 15%;
    margin-bottom: 10px;
}

strong {
    font-weight: 600;
    font-style: italic;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.center {
    text-align: center;
}

.in {
    margin: auto 15%;
}